.section-cod{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;

}

.code-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 100%;
  width: 100%;
}

.code-editor,
.code-result {
  background: #020617;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Simulação de Janela de Editor */
.code-editor {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  font-family: 'Fira Code', monospace;
  /* Fonte de programador */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.code-editor::before {
  content: "● ● ●";
  color: #ff5f56;
  /* vermelho, amarelo, verde */
  letter-spacing: 5px;
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 12px;
}

.code-editor pre {
  margin: 0;
  white-space: pre-wrap;
}

.code-result {
  color: #e5e7eb;
}

.code-result h4 {
  margin-bottom: 12px;
  color: #22c55e;
}

#result-output {
  padding: 12px;
  background: #020617;
  border-radius: 8px;
  min-height: 180px;
  font-family: monospace;
}

/* Responsivo */
@media (max-width: 768px) {
  .code-container {
    grid-template-columns: 1fr;
  }
}